//all variables used in the project
//overide the values in these maps, when using in your own project.
$base-vars: (
  'min-padding': 10px,
  'max-padding': 20px,
  'min-margin': 0px,
  'max-margin': 100px
) !default;

$base-fonts: (
  "xs": 8px,
  "sm": 12px,
  "md": 16px,
  "lg": 24px,
  "xl": 26px
) !default;

$colors: (
  "blue": blue,
  "red": red
) !default ;

$txt-shadows: (
  "sm": 2px 2px 2px,
  "md": 4px 4px 4px,
  "lg": 6px 6px 6px,
) !default;

$bg-shadows: (
  "sm": 2px 4px,
  "md": 4px 6px,
  "lg": 6px 8px
) !default;

$font-styles: (
  "bold": bold,
  "it": italic,
  "normal": normal
) !default;

$base-borders: (
  "sm": 2px solid,
  "sm-dotted": 2px dotted,
  "md": 4px solid,
  "md-dotted": 4px dotted
)
